

  <header class="header">
    <div class="container">
      <nav class="header_navigation">
        <ul class="header_list">
          <li class="header_list_item header_logo">
            <a href="#" class="header_list_link logo"></a>
          </li>
          <li class="header_list_item">
            <a href="" class="header_list_link">Products</a>
          </li>
          <li class="header_list_item">
            <a href="" class="header_list_link">Cart</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <main>
    <router-outlet>

    </router-outlet>
    <section class="product">
      <div class="container">
        <div class="product_wrapper">
          <h1 class="product_caption">
            Products
          </h1>
          <ul class="product_list">
            <li *ngFor="let product of products"  class="product_item">
              <h2 class="item_caption">
                {{product.name}}
              </h2>
              <p class="item_price">
                {{product.price}}
              </p>
              <button class="item_btn">
                Add to cart
              </button>
            </li>
          </ul>
          <button class="product_load">
            Load more
          </button>

        </div>
      </div>

    </section>
    <button class="product_admin">
      Admin
      <span class="product_admin_arrow"></span>
    </button>

  </main>


