<section class="cart">
  <div class="container">
    <div class="cart_wrapper">
      <h1 class="cart_caption">
        Cart
      </h1>
      <p>
        Total :
          {{total | async}}
      </p>
      <ul class="cart_list">
        <li *ngFor="let item of items"   class="cart_item">
          <ng-container *ngIf="item.isChosen">
              <h2 [routerLink]="['/products',item.id]" class="item_caption">
                {{item.name}}
              </h2>
              <p class="item_price">
                {{item.price}}
              </p>
              <button class="item_btn" (click)="clearCartItem(item)">
                {{item.isChosen ? 'remove' : 'add' }}
              </button>
              <div class="cart_amount">
                <button>+</button>
                <p>1</p>
                <button>-</button>
              </div>
          </ng-container>
        </li>
      </ul>
    </div>
  </div>
</section>
