<header class="header">
  <div class="container">
    <nav class="header_navigation">
      <ul class="header_list">
        <li [routerLink]="['/']" class="header_list_item header_logo">
          <a   class="header_list_link logo"></a>
        </li>
        <li class="header_list_item">
          <a [routerLink]="['/products']" class="header_list_link">Products</a>
        </li>
        <li (mouseenter)="toolShow()" (mouseleave)="toolHide()" class="header_list_item">
          <a [routerLink]="['/cart']" class="header_list_link">Cart</a>
           <app-tooltip [className]="toolTip" ></app-tooltip>
        </li>
      </ul>
    </nav>
  </div>
</header>
