<div  class="cart_hover">
  <ul (mouseover)="showCart=false" class="cart_list">
    <li *ngFor="let item of items"  class="cart_item">
      <div class="item_info">
        <h2 [routerLink]="['/products',item.id]" class="item_caption">
          Product #{{item.id - 1}}
        </h2>
        <p class="item_price">
          {{item.price}}
        </p>
      </div>
      <div class="cart_amount">
        <button>+</button>
        <p>1</p>
        <button>-</button>
      </div>
      <button class="item_btn" (click)="clearCartItem(item.id)">
        {{item.isChosen ? 'remove' : 'add' }}
      </button>
    </li>
  </ul>
  <p class="item_total">Total :{{cartTotal}}</p>
</div>
