.cart_hover{
  position: absolute;
  background: #8B8B8B;
  padding: 50px 100px;
  .cart_item{
    display: flex;

    gap: 60px;
  }
  .cart_item{
    justify-content: space-between;
  }
  .item_btn{
    height: 35px;
    padding: 0 30px;
    background: #B3B3B3;
    border: none;
    cursor: pointer;
  }
  .item_total{
    display: flex;
    justify-content: end;
  }
  .cart_amount{
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
  .item_total{
    font-weight: 700;
    font-size: 25px;
  }
}
