//.dialog{
//  position: relative;
//
//  &_wrapper{
//    position: absolute;
//    top: 50%;
//    left: 50%;
//    transform: translate(-50%, -50%);
//  }
//}
::ng-deep .custom-modalbox {
  mat-dialog-container {
    position: absolute;
    width: 300px;
    height: 250px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
}

