<!--<div  class="cart_hover">-->
<!--  <ul  class="cart_list">-->
<!--    <li *ngFor="let item of items"  class="cart_item">-->
<!--      <div class="item_info">-->
<!--        <h2 [routerLink]="['/products',item.id]" class="item_caption">-->
<!--          Product #{{item.id}}-->
<!--        </h2>-->
<!--        <p class="item_price">-->
<!--          {{item.price}}-->
<!--        </p>-->
<!--      </div>-->
<!--      <div class="cart_amount">-->
<!--        <button>+</button>-->
<!--        <p>1</p>-->
<!--        <button>-</button>-->
<!--      </div>-->
<!--      &lt;!&ndash;      <button class="item_btn" (click)="clearCartItem(item.id)">&ndash;&gt;-->
<!--      &lt;!&ndash;        {{item.isChosen ? 'remove' : 'add' }}&ndash;&gt;-->
<!--      &lt;!&ndash;      </button>&ndash;&gt;-->
<!--    </li>-->
<!--  </ul>-->
<!--  <p class="item_total">Total :-->
<!--    {{cartTotal}}-->
<!--  </p>-->
<!--</div>-->
